@font-face {
  font-family: monospace;
  src: url("monospace.ttf");
}

body {
  background: black;
  color: white;
  font-family: monospace;
}

input {
  background: transparent;
  color: yellow;
  /* color: inherit; */
  border: none;
  border-right: 10px solid yellow;
  font-family: monospace;
}

/*
1. use input border for cursor style
2. make input auto 
3. can it work multi-line?
*/

/*

1. coding style
2. concise
- inheritance is default
3. specific / targetted 
- modular

*/

/*

Browser styles ship with elements
- "default" style
- They need to be "reset"
2 famous ones are:

Eric Meyer's original CSS reset
Normalize.css

You can use both together.

*/